# Ignore frontend build artifacts
/frontend/node_modules/
/frontend/dist/
/frontend/.next/
/frontend/.env

# Ignore backend build artifacts
/backend/bin/
/backend/.env

# System files
.DS_Store

# Logs
*.log

# Dependency caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go-related
/go.sum
